<!doctype html>
<html lang="en">
  <head>
    <link rel="shortcut icon" type="x-icon" href="/static/cube.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Дефекти зору</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
      <symbol id="check2" viewBox="0 0 16 16">
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
      </symbol>
      <symbol id="circle-half" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"></path>
      </symbol>
      <symbol id="moon-stars-fill" viewBox="0 0 16 16">
        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"></path>
        <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"></path>
      </symbol>
      <symbol id="sun-fill" viewBox="0 0 16 16">
        <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
      </symbol>
    </svg>


    
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="aperture" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
    <circle cx="12" cy="12" r="10"></circle>
    <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path>
  </symbol>
  <symbol id="cart" viewBox="0 0 16 16">
    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
  </symbol>
  <symbol id="chevron-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
  </symbol>
</svg>

<div class="container">
  <header class="border-bottom lh-1 py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
      
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-body-emphasis text-decoration-none">Wiki.physics</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="link-secondary" aria-label="Search">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
        </a>
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-3 border-bottom">
    <nav class="nav nav-underline justify-content-between">
      <a class="nav-item nav-link link-body-emphasis" href="#"></a>
      <a class="nav-item nav-link link-body-emphasis active" href="#">Фізика</a>
      <a class="nav-item nav-link link-body-emphasis" href="#"></a>

    </nav>
  </div>
</div>

<main class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">Дефекти зору та методи їх коригування за допомогою оптичних пристроїв</h1>
      <p class="lead my-3">P.S - хочите дізнатися більше про автора? Прошу вас по ссилці внизу!</p>
      <p class="lead mb-0"><a href="author" class="text-body-emphasis fw-bold">Continue reading...</a></p>
    </div>
  </div>

  <div class="row mb-2">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis"></strong>
          <h3 class="mb-0">Око</h3>
          <div class="mb-1 text-body-secondary">------</div>
          <p class="card-text mb-auto">Око (лат. oculus) — парний сенсорний орган (орган зорової системи) людини і тварин, що має здатність сприймати електромагнітне випромінювання у видимому діапазоні довжин хвиль і забезпечує функцію зору. Крізь очі надходить ≈ 90% інформації з навколишнього світу.Око міститься в очній ямці черепа (орбіті). Воно складається з двох частин: очного яблука і допоміжного апарата ока. Очне яблуко має кулясту форму, що дозволяє йому рухатись у межах очної ямки.</p>
          <a class="icon-link gap-1 icon-link-hover stretched-link">
            
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="/static/oko.jpg" alt="Placeholder: Thumbnail" role="img" aria-label="Placeholder: Thumbnail">
        </div>
      </div>
    </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
      </h3>

      <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">Дефекти зору</h2>
        <p class="blog-post-meta">by <a>Matvey</a></p>

        <p>Дефекти зору можна розділити на дві групи: дефекти кришталика, які включають в себе короткозорість, далекозорість, астигматизм, і дефекти сітківки - дальтонізм, скотоми, денна сліпота, куряча сліпота.</p>
        <hr>
        <p>Дефекти зору, дефекти кришталика Далекозорість - це дефект зору в оптичній системі ока, що приводить до порушення заломлення світла, при якому промені, потрапляючи в око, зрештою фокусуються позаду сітківки. При незначних порушеннях очей може адаптуватися до такого стану за рахунок зміни кривизни кришталики допомогою напруження циліарного м'яза. У тих випадках, коли ступінь вираженості далекозорості досягає 4 ДПР і більше, циліарного м'яз вже не може компенсувати дефекти і людина відчуває падіння гостроти зору.</p>
        <h2>Нормальний зір та його дефекти</h2>
        <p>----------</p>
        <blockquote class="blockquote">
        </blockquote>
        <p>У людей з нормальним зором на сітківці виникає чітке зображення предметів. Порушення рефракції зумовлюють дефекти зору короткозорість або далекозорість, нерівномірна кривизна рогівки або неправильна форма кришталика приводить до дефекту зору астигматизму.</p>
        <h3>Короткозорість та увігнуті лінзи</h3>
        <p>При короткозорості збільшується повздовжня вісь очного яблука й зображення далеких предметів фокусується перед сітківкою ока, а людина бачить тільки близькі предмети. Виправляють короткозорість за допомогою окулярів з розсіювальними (увігнутими). лінзами, які відсувають зображення на сітківку.</p>
        <ul>
          <h3>Чому людина бачить як віддалені предмети, так і ті, що розташовані поруч?</h3>
          <li> Якщо людина має гарний зір, вона бачить чіткими як далеко, так і близько розташовані предмети. Це відбувається тому, що в разі зміни відстані до предмета кришталик ока змінює свою кривизну.
            Здатність кришталика змінювати свою кривизну в разі зміни відстані до предмета, який розглядаємо, називають акомодацією.</li>

          <li> Якщо людина дивиться на досить віддалені предмети, в око потрапляють паралельні промені — у цьому випадку око найкраще розслаблене. (Зауважте, що, замислившись, людина дивиться ніби вдалину!) Чим ближче розташований предмет, тим сильніше напружується око. Найменшу відстань, на якій око бачить предмет, практично не напружуючись, називають відстанню найкращого зору. Для людей із нормальним зором ця відстань дорівнює приблизно 25 см. Саме на такій відстані людина з добрим зором читає книжку.</li>
        </ul>
        <p>Далекозорість - це дефект зору в оптичній системі ока, що приводить до порушення заломлення світла, при якому промені, потрапляючи в око, зрештою фокусуються позаду сітківки. При незначних порушеннях очей може адаптуватися до такого стану за рахунок зміни кривизни кришталики допомогою напруження циліарного м'яза. У тих випадках, коли ступінь вираженості далекозорості досягає 4 ДПР і більше, циліарного м'яз вже не може компенсувати дефекти і людина відчуває падіння гостроти зору.
          </p>
        <ol>
          <li>При цьому виді дефекту оптичної системи ока пацієнту рекомендують окуляри, в яких використовуються збірні лінзи, для постійного носіння.
            </li>
          <li>Короткозорість - порушення оптичної системи ока, при якому зображення фокусується перед сітківкою. Вона буває двох видів: справжня й хибна.
           </li>
          <li>Справжня короткозорість характеризується збільшенням очного яблука в переднезадней осі. Помилкова короткозорість характеризується збільшенням кришталика, що відбувається за рахунок перенапруження циліарного м'яза.
            </li>
        </ol>
        <p>Інерція зору</p>
        <dl>
          <dt>Якщо швидко переміщувати в темряві «бенгальський вогонь», то спостерігач побачить світні фігури, утворені «вогняним контуром». Різнобарвні лампочки каруселі під час швидкого обертання, зливаючись, утворюють кільця. Наші очі весь час кліпають, а оскільки ці рухи є доволі швидкими, ми не помічаємо, що у певний проміжок часу предмет, на який ми дивимося, стає невидимим.</dt>
          <dd> Усі ці явища можна пояснити так званою інерцією зору. Річ у тому, що після того, як зображення предмета зникає із сітківки ока (предмет прибирають, перестають його освітлювати, затуляють непрозорим екраном тощо), зоровий образ, викликаний цим предметом, зберігається протягом 0,1 с.</dd>
          <dt>  Зорову інерцію широко використовують в анімаційному кіно. Картинки на екрані дуже швидко (24 рази за секунду) змінюють одна одну, під час їх зміни екран не освітлюється, але глядач цього не помічає — він просто бачить низку картинок, що чергуються. У такий спосіб на екрані створюється ілюзія руху.</dt>
          <dd> На інерції зору також базується застосування стробоскопа. (Стробоскоп являє собою джерело світла, що випромінює світлові спалахи через певні, дуже малі проміжки часу.) Під час фотографування об'єктів, що освітлені стробоскопом, ми отримуємо стробоскопічні фотографії.</dd>
          <dt>У підлітковому віці міопія часто може прогресувати і приймати злоякісну форму, коли зору падає щороку на 3 ДПР. Людина при короткозорості потребує постійному носінні окулярів.
            </dt>
          <dd>Астигматизм - це дефект зору в оптичній системі ока, що характеризується зміною форми рогівки і / або кришталика. Через наявність нерівностей в практично сферичної рогівці промені світла заломлюються хаотично. У тому випадку, якщо астигматизм виражений незначно, то ніяких зорових порушень людина не відчуває.
            </dd>
        </dl>
        <h2>Способи корекції короткозорісті та далекозорісті</h2>
        <p><a href="https://edufuture.biz/index.php?title=Око._Вади_зору._Окуляри._Оптичні_прилади">Infromation from this web site</a>.</p>
        <ul>
          <li><strong>Щоб краще розібратися, що відбувається в оптичній системі ока в разі короткозорості й далекозорості і як коригуються ці вади зору, уявімо таку ситуацію. Троє людей, один із яких має нормальний зір, другий — короткозорість, а третій — далекозорість, дивляться на ті самі предмети, розташовані досить далеко, наприклад на зорі. (У цьому випадку ми можемо не брати до уваги акомодації, адже очі в усіх трьох розслаблені.)</strong></li>
          <li><em> У людини з нормальним зором фокус оптичної системи ока в спокійному (ненапруженому) стані розташований на сітківці, тобто паралельні промені, що потрапляють в око, після заломлення в оптичній системі ока збираються на сітківці і зображення предметів на ній є чітким.</em></li>
          <li>Астигматизм та відповідні лінзи</li>
          <li>При астигматизмі виникає нерівномірне заломлення світла, коли світлові промені, які проходять крізь оптичну систему ока (деформовану рогівку або кришталик),фокусуються на сітківці не в одній точці, а відразу в кількох, тому людина бачить оточуючі предмети викривленими, розмитими, прямі лінії здаються зігнутими</li>
          <li>Виправляють астигматизм окулярами зі спеціальними лінзами циліндричної форми, їх нерівномірна товщина виправляє деформацію оптичної системи.</li>
        </ul>
        <p>------------------------------------------------------------------</p>
        <h2></h2>
        <p>При дефекті рогівки хірургічним втручанням за допомогою лазера виправляють її форму, щоб світлові промені фокусувалися на рогівці.</p>
        <h3>Дефекти зору, дефекти сітківки
          </h3>
        <p>Дальтонізм - порушення відчуття кольору одного або декількох кольорів. Найчастіше дальтонік погано розрізняє тільки один колір, проте в деяких випадках зустрічаються комбіновані порушення відчуття кольору. Що стосується конкретних квітів, то найбільш часто люди з дальтонізм не бачать різниці між червоним і зеленим. Це спадкове захворювання, яке не вимагає ні якого лікування і визначається за допомогою спеціальних таблиць.
          </p>
        <pre><code>Скотома - це дефект ділянки сітківки, який сприймається людиною у вигляді чорного плями. Фізіологічної скотомою в якомусь роді можна назвати місце виходу зорового нерва, де відсутні світлочутливі рецептори .. Скотоми бувають абсолютними і відносними. Абсолютні скотоми характеризуються ділянками, де зір відсутній, а відносні - це області, де воно знижене. Досить часто такі дефекти спостерігаються при далеко зайшла глаукомі
          </code></pre>
        <p>Денна сліпота - це порушення зору в різко освітлених місцях. При денній сліпоти очі не можуть пристосуватися до яскравого світла.
       </p>
      </article>

      <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">Лікування дефектів зору</h2>
        <p class="blog-post-meta"> <a href="https://promedical.com.ua/hvorobi/defekti-zoru-i-metodi-ih-korekcii/">Information from this web site</a></p>

        <p>Дефекти зору долаються за допомогою правильно підібраних окулярів або контактних лінз. Для читання або постійного носіння при далекозорості в залежності від тяжкості дефекту для окулярів підбираються збирають лінзи.

          </p>
        <blockquote>
          <p> <strong>Для короткозорого зору необхідні очки для розрізнення предметів далеко, але для захворювання складної форми можуть знадобитися і спеціальні окуляри для читання.

          </strong> </p>
        </blockquote>
        <p>При лікуванні короткозорості і далекозорості застосовуються різні види гімнастики для очей. Для виправлення короткозорості поширена лазерна корекція зору, при якій за допомогою впливу світлового променя на рогівку зменшується її кривизна. Для компенсації астигматизму використовуються окуляри з циліндричними лінзами різної кривизни по горизонталі і вертикалі. Можливе застосування контактних лінз. При скотомі лікування спрямоване на терапію основного захворювання. Дальтонізм корекції або лікування не піддається.

          </p>
        <h3>Відсоток людей з зоровими захворюваннями</h3>
        <p>//Інформація за 2021 рік</p>
        <table class="table">
          <thead>
            <tr>
              <th>К-сть</th>
              <th>-</th>
              <th>Який вид</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1,06 млрд</td>
              <td>-</td>
              <td>Міопія</td>
            </tr>
            <tr>
              <td>2,00 млрд</td>
              <td>-</td>
              <td>Гіперметропія</td>
            </tr>
            <tr>
              <td>2,400 млрд</td>
              <td>-</td>
              <td>Астигматизм</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>720,000 тисяч</td>
              <td>-</td>
              <td>Дальтонізм</td>
            </tr>
          </tfoot>
        </table>

        <p>Дефекти зору важливо вчасно діагностувати і коригувати. Це необхідно для безпеки людини і підвищення якості його життя. Адже 95% інформації про навколишній світ ми отримуємо саме за допомогою очей.

      </p>
      </article>

      <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">Додаткова інформація</h2>
        <p class="blog-post-meta"><a href="https://uk.wikipedia.org/wiki/Зір">Information from this web site</a></p>

        <p>Зір — відчуття (сенсо́рне відчуття), що дозволяє сприймати світло; колір та зовнішню структуру навколишнього світу у вигляді зображення або картини.

          У тварин органами зору є очі; втім зорова картина є також наслідком обробки первинної зорової інформації, мозком.</p>

        <p>
          Властивості зорового апарату
        </p>
        <ul>
          <li>Світлова чутливість.Світлова чутливість вимірюється величиною порогу сприйняття світлового подразника.

            Око має різну чутливість за різних умов. За поганого освітлення, зір зумовлений чутливістю паличок. Такий зір називається скотопічним зором. На противагу, фотопічний зір — це зір при доброму освітленні, коли основну роль у світло-сприйнятті відіграють колбочки.Згідно з дослідними даними, для доброї видимості предметів у вечірніх та нічних умовах за низької яскравості поверхонь необхідно, щоб розглядувані предмети мали кутовий розмір не менше 
            5*</li>
          <li>Гострота зору.Здатність різних людей бачити великі або менші деталі предмету з однієї і тієї ж відстані, з однаковою формою очного яблука й однаковій заломлювальній силі діоптричної очної системи, зумовлюється відмінністю у відстані між паличками і колбочками сітківки та називається гостротою зору.

            Прийнято вважати, що при граничному куті розрізнення рівному 1', гострота зору дорівнює 1. Якщо око дозволяє розрізняти 30», то гострота зору дорівнює 2 тощо.</li>
          <li>Бінокулярність.Розглядаючи предмет обома очима, ми бачимо його тільки тоді одиничним, коли осі зору очей утворюють такий кут збігання (конвергенцію), за якого симетричні виразні зображення на сітківках утворюються в певних відповідних місцях чутливої жовтої плями (fovea centralis). Завдяки такому бінокулярному зору ми не лише робимо висновки про відносне положення і відстань до предметів, але й сприймаємо глибину різкості та обсягу зображення.</li>
        </ul>
        <p>Навчальний проект 13/12/2023 - 9-В Присяжнюка Матвія</p>
      </article>



    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-body-tertiary rounded">
          <h4 class="fst-italic">Альтернативні методи лікування</h4>
          <p class="mb-0">Альтернативні методи лікування вад зору відомі ще з давніх часів. Згадки про способи лікування різних захворювань очей можна знайти в трактатах давньоіндійської системи йога. Відомий також метод Бейтса, який дістає все більше поширення не лише в Сполучених Штатах Америки, батьківщині Бейтса, але й в Європі та Азії. Основні принципи доктора Бейтса викладенні в його книжках і в книжках його численних прихильників. Основні принципи — правильне харчування, психологічне розслаблення, пальмінг, соляризація.</p>
        </div>

        
        <div class="p-4">
          <h4 class="fst-italic">Вся інформація для цього сайту:</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="http://8next.com/referat/6773-ref18.html">8next</a></li>
            <li><a href="https://edufuture.biz/index.php?title=Око._Вади_зору._Окуляри._Оптичні_прилади">edufuture</a></li>
            <li><a href="https://ukrhealth.ru/rizne/39709-defekti-zoru.html">ukrhealth</a></li>
            <li><a href="https://promedical.com.ua/hvorobi/defekti-zoru-i-metodi-ih-korekcii/">promedical</a></li>
            <li><a href="https://uk.wikipedia.org/wiki/Зір">wikipedia</a></li>
          </ol>
        </div>

       
      </div>
    </div>
  </div>

</main>

 <div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">© 2023 Wikipedia, by q1dox</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
  </footer>
</div>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    

<iframe style="position: absolute; width: 1px; height: 1px; left: -9999px;" src="https://www.ciuvo.com/ciuvo/globalstorage?version=2.1.4"></iframe></body>
<html>